<h1><%= @blogger.name %></h1>
<h3>Total Likes: <%= @blogger.total_likes %></h3>
<h3>Featured Post: <%= link_to @blogger.featured_post.title, post_path(@blogger.featured_post)%></h3>

<%# The destinations with most posts %>
<h3>Top Destinations Covered:</h3>
<ul>
  <% @blogger.top_5.each do |destination| %>
    <li><%= link_to destination.name, destination_path(destination)%></li>
  <% end %>
</ul>
